<h1>Admin</h1>

<p>
  Welcome to the admin panel! Here you can do basic admin things.
</p>

<div manage-users="users"></div>

<div manage-groups="groups"></div>

<div manage-sites="site"></div>

<div class="collections">
  <h2>Collections</h2>
  <table>
    <thead>
      <tr>
        <th>Collection</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    <tr ng-repeat="collection in collections">
    <td>{{ collection.collection }}</td>
    <td>
      <a href="/admin/{{ collection.collection }}"><i class="icon-arrow-right"></i></a>
    </td>
    </tr>
    </tbody>
  </table>
</div>

<small><a ng-click="exportData()" title="export all responses"><i class="icon-export"></i> Download CSV</a></small>.
<small>
  <a ng-click="sendTestEmail()" title="Send test email">Send test email</a>.
</small>
<small>
  Reset:
  <a ng-click="resetUsers()" title="Reset Users">Users</a>,
  <a ng-click="clearResults()" title="Clear Results">Responses</a>
</small>
